<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BYS.GWSystem.mapper.EnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="Enterprise" type="com.BYS.GWSystem.model.Enterprise">
        <id column="registration_id" property="registrationId" />
        <result column="enterpriseName" property="enterpriseName" />
        <result column="telephone" property="telephone" />
        <result column="password" property="password" />
        <result column="number" property="number" />
        <result column="avatarPath" property="avatarPath" />
        <result column="synopsis" property="synopsis" />
        <result column="address" property="address" />
        <result column="registeredCapital" property="registeredCapital" />
        <result column="beListed" property="beListed" />
        <result column="examination" property="examination" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectEnterpriseVo">
       select e.registration_id, e.enterpriseName, e.telephone, e.password, e.number, e.avatarPath, e.synopsis, e.address, e.registeredCapital, e.beListed, e.examination
       form enterprise e
    </sql>
    
    <select id="selectEnterpriseList" parameterType="Enterprise" resultMap="Enterprise">
        <include refid="selectEnterpriseVo"/>
        where 
        <if test="registrationId != null and registrationId != 0">
            e.registration_id = #{registrationId}
        </if>
        <if test="enterpriseName != null and enterpriseName != ''">
            AND e.enterpriseName like concat('%', #{enterpriseName}, '%')
        </if>
        <if test="address != null and address != ''">
            AND e.address like concat('%', #{address}, '%')
        </if>
        <if test="beListed != null and beListed != ''">
            AND e.beListed = #{enterpriseName}
        </if>
        <if test="examination != null and examination != ''">
            AND e.examination = #{examination}
        </if>   
    </select>


	<insert id="insertEnterprise" parameterType="Enterprise">
        insert into enterprise(
        <if test="registrationId != null and registrationId != 0">registration_id,</if>
        <if test="enterpriseName != null and enterpriseName != ''">enterpriseName,</if>
        <if test="telephone != null and telephone != 0">telephone,</if>
        <if test="password != null and password != ''">password,</if>
        <if test="number != null and number != ''">number,</if>
        <if test="avatarPath != null and avatarPath != ''">avatarPath,</if>
        <if test="synopsis != null and synopsis != ''">synopsis,</if>
        <if test="address != null and address != ''">address,</if>
        <if test="registeredCapital != null and registeredCapital != ''">registeredCapital,</if>
        <if test="beListed != null and beListed != ''">beListed,</if>
        <if test="examination != null and examination != ''">examination</if>
        )values(
        <if test="registrationId != null and registrationId != 0">#{registrationId},</if>
        <if test="enterpriseName != null and enterpriseName != ''">#{enterpriseName},</if>
        <if test="telephone != null and telephone != 0">#{telephone},</if>
        <if test="password != null and password != ''">#{password},</if>
        <if test="number != null and number != ''">#{number},</if>
        <if test="avatarPath != null and avatarPath != ''">avatarPath,</if>
        <if test="synopsis != null and synopsis != ''">synopsis,</if>
        <if test="address != null and address != ''">address,</if>
        <if test="registeredCapital != null and registeredCapital != ''">registeredCapital,</if>
        <if test="beListed != null and beListed != ''">beListed,</if>
        <if test="examination != null and examination != ''">examination</if>
        )
    </insert>
    
    
    <update id="updateEnterprise" parameterType="Enterprise">
        update enterprise
        <set>
            <if test="enterpriseName != null and enterpriseName != ''">enterpriseName = #{enterpriseName},</if>
            <if test="telephone != null and telephone != 0">telephone = #{telephone},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="number != null and number != ''">number = #{number},</if>
            <if test="avatarPath != null and avatarPath !=''">avatarPath = #{avatarPath},</if>
            <if test="synopsis != null and synopsis !=''">synopsis = #{synopsis},</if>
            <if test="address != null and address !=''">address = #{address},</if>
            <if test="registeredCapital != null and registeredCapital != ''">registeredCapital = #{registeredCapital},</if>
            <if test="beListed != null and beListed != ''">beListed = #{beListed},</if>
            <if test="examination != null and examination != ''">examination = #{examination}</if>
        </set>
        where registration_id = #{registrationId}
    </update>
    
    <delete id="deleteEnterprise" parameterType="Enterprise" >
    delete from enterprise where registration_id = #{registrationId}
    </delete>
    
</mapper>
