<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BYS.GWSystem.mapper.PostMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="PostResult" type="com.BYS.GWSystem.model.Post">
		<id column="post_id" property="postId" />
		<result column="registration_id" property="registrationId" />
		<result column="responsible" property="responsible" />
		<result column="type_id" property="typeId" />
		<result column="postName" property="postName" />
		<result column="number" property="number" />
		<result column="salary" property="salary" />
		<result column="demand" property="demand" />
		<result column="creationTime" property="creationTime" />
		<result column="popular" property="popular" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="selectPostVo">
		select p.post_id, p.registration_id, p.responsible, p.type_id, p.postName,
		p.number, p.salary, p.demand, p.creationTime, p.popular
		from post p
	</sql>

	<select id="selectPostList"
		parameterType="com.BYS.GWSystem.model.Post" resultMap="PostResult">
		<include refid="selectPostVo" />
		where
		<if test="postId != null and postId != ''">
			p.post_id = #{postId}
		</if>
		<if test="registrationId != null and registrationId != 0">
			AND p.registration_id = #{registrationId}
		</if>
		<if test="typeId != null and typeId != 0">
			AND p.type_id = #{typeId}
		</if>
		<if test="demand != null and demand != ''">
			AND p.demand like concat('%', #{demand}, '%')
		</if>
		<if test="popular != null and popular != ''">
			AND p.popular = #{popular}
		</if>
	</select>

	<select id="selectRecruitmentCompaniesNumber" resultType="int">
		SELECT COUNT(distinct registration_id) FROM post
	</select>


	<select id="selectPostNumber" resultType="int">
		SELECT COUNT(*) FROM post
	</select>

	<select id="selectFollowNumber" resultType="int">
		SELECT COUNT(distinct post_id) FROM student_history where collection=1
	</select>

	<select id="selectJobSimpleList" parameterType="String"
		resultMap="PostResult">
		<include refid="selectPostVo" />
		where
		<if test="registrationId != null and registrationId != 0">
			 p.registration_id = #{registrationId}
		</if>
	</select>
	
	<select id="selectOneHiredMsg" parameterType="String"
		resultType="com.BYS.GWSystem.model.Post">
		<include refid="selectPostVo" />
		where
			 p.post_id = #{postId}
	</select>


	<insert id="insertPost"
		parameterType="com.BYS.GWSystem.model.Post">
		insert into Post(
		<if test="postId != null and postId != ''">post_id,</if>
		<if test="registrationId != null and registrationId != 0">registration_id,</if>
		<if test="responsible != null and responsible != ''">responsible,</if>
		<if test="typeId != null and typeId != 0">type_id,</if>
		<if test="postName != null and postName != ''">postName,</if>
		<if test="number != null and number != 0">number,</if>
		<if test="salary != null and salary != ''">salary,</if>
		<if test="demand != null and demand != ''">demand,</if>
		creationTime,
		<if test="popular != null and popular != ''">popular</if>
		)values(
		<if test="postId != null and postId != ''">#{postId},</if>
		<if test="registrationId != null and registrationId != 0">#{registrationId},</if>
		<if test="responsible != null and responsible != ''">#{responsible},</if>
		<if test="typeId != null and typeId != 0">#{typeId},</if>
		<if test="postName != null and postName != ''">#{postName},</if>
		<if test="number != null and number != 0">#{number},</if>
		<if test="salary != null and salary != ''">#{salary},</if>
		<if test="demand != null and demand != ''">#{demand},</if>
		sysdate(),
		<if test="popular != null and popular != ''">#{popular}</if>
		)
	</insert>

	<update id="updatePost"
		parameterType="com.BYS.GWSystem.model.Post">
		update Post
		<set>
			<if test="registrationId != null and registrationId != 0">registration_id=#{registrationId},</if>
			<if test="responsible != null and responsible != ''">responsible=#{responsible},</if>
			<if test="typeId != null and typeId != 0">type_id=#{typeId},</if>
			<if test="postName != null and postName != ''">postName=#{postName},</if>
			<if test="number != null and number != 0">number=#{number},</if>
			<if test="salary != null and salary != ''">salary=#{salary},</if>
			<if test="demand != null and demand != ''">demand=#{demand},</if>
			<if test="popular != null and popular != ''">popular=#{popular}</if>
		</set>
		where post_id = #{postId}
	</update>

	<delete id="deletePost"
		parameterType="com.BYS.GWSystem.model.Post">
		delete from Post where post_id = #{postId}
	</delete>

</mapper>
