<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BYS.GWSystem.mapper.ResumeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="ResumeResult"
		type="com.BYS.GWSystem.model.Resume">
		<id column="resume_id" property="resumeId" />
		<result column="birthday" property="birthday" />
		<result column="nativePlace" property="nativePlace" />
		<result column="name" property="name" />
		<result column="phonenumber" property="phonenumber" />
		<result column="mailbox" property="mailbox" />
		<result column="currentResidence" property="currentResidence" />
		<result column="education" property="education" />
		<result column="graduateSchool" property="graduateSchool" />
		<result column="intention" property="intention" />
		<result column="speciality" property="speciality" />
		<result column="experience" property="experience" />
		<result column="selfEvaluation" property="selfEvaluation" />
		<result column="creationTime" property="creationTime" />
		<result column="student_id" property="studentId" />
	</resultMap>
	<!-- 简历的接收类型 -->
	<resultMap type="com.BYS.GWSystem.dto.ResumeHiredDto" id="ResumeHiredDtoList">
			<id column="resume_id" property="resumeId" />
			<result column="birthday" property="birthday" />
			<result column="nativePlace" property="nativePlace" />
			<result column="name" property="name" />
			<result column="phonenumber" property="phonenumber" />
			<result column="mailbox" property="mailbox" />
			<result column="currentResidence" property="currentResidence" />
			<result column="education" property="education" />
			<result column="graduateSchool" property="graduateSchool" />
			<result column="intention" property="intention" />
			<result column="speciality" property="speciality" />
			<result column="experience" property="experience" />
			<result column="selfEvaluation" property="selfEvaluation" />
			<result column="creationTime" property="creationTime" />
			<result column="student_id" property="studentId" />
			<result column="time" property="time" />
			<result column="collection" property="collection" />
			<result column="post_id" property="postId" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="selectResumeVo">
		select r.resume_id, r.birthday, r.nativePlace, r.name,
		r.phonenumber,
		r.mailbox, r.currentResidence, r.education,
		r.graduateSchool,
		r.intention, r.speciality, r.experience,
		r.selfEvaluation,
		r.creationTime, r.student_id
		from resume r
	</sql>

	<select id="selectResumeList"
		parameterType="com.BYS.GWSystem.model.Resume" resultMap="ResumeResult">
		<include refid="selectResumeVo" />
		where
		<if test="resumeId != null and resumeId != 0">
			r.resume_id = #{resumeId}
		</if>
		<if test="nativePlace != null and nativePlace != ''">
			AND r.nativePlace = #{nativePlace}
		</if>
		<if test="currentResidence != null and currentResidence != ''">
			AND r.currentResidence = #{currentResidence}
		</if>
		<if test="education != null and education != ''">
			AND r.education = #{education}
		</if>
		<if test="speciality != null and speciality != ''">
			AND r.speciality like concat('%', #{speciality}, '%')
		</if>
	</select>
	<select id="ResumeCount" parameterType="String" resultType="Integer">
		select count(*) from (SELECT r.* ,s.time ,s.post_id,s.collection from resume r, (SELECT * FROM `student_history`  where  post_id in(SELECT post_id from post where registration_id= #{registrationId} ))  AS s where r.student_id=s.student_id and r.student_id in(SELECT student_id from (SELECT * FROM `student_history`  where  post_id in(SELECT post_id from post where registration_id= #{registrationId} ))AS hs ))AS RES where RES.collection = 4 
	</select>
	
	<select id="ResumePassCount" parameterType="String" resultType="Integer">
		select count(*) from (SELECT r.* ,s.time ,s.post_id,s.collection from resume r, (SELECT * FROM `student_history`  where  post_id in(SELECT post_id from post where registration_id= #{registrationId} ))  AS s where r.student_id=s.student_id and r.student_id in(SELECT student_id from (SELECT * FROM `student_history`  where  post_id in(SELECT post_id from post where registration_id= #{registrationId} ))AS hs ))AS RES where RES.collection = 3 
	</select>
	
	
	<select id="selectEditedResumeNumber" resultType="Integer">
		SELECT
		COUNT(distinct student_id) FROM resume;
	</select>

	<select id="selectResumeNumber" resultType="Integer">
		SELECT COUNT(*) FROM
		resume;
	</select>

	<select id="ConcernedAbout" resultType="Integer"
		parameterType="int">
		SELECT COUNT(bb.a) FROM (SELECT COUNT(*) a from enterprise_history
		WHERE collection IN (2,3)
		GROUP BY resume_id
		<if test="Small != null">HAVING a &gt; #{Small}</if>
		<if test="large != null">and a &lt; #{large}</if>
		) as bb
	</select>

	<select id="selectFollowNumber" resultType="Integer">
		SELECT COUNT(distinct
		resume_id) FROM enterprise_history where collection IN (2,3)
	</select>

	<select id="selectResumeById"
		resultType="com.BYS.GWSystem.dto.ResumeDto" parameterType="Long">
		select
		r.resume_id,g.avatarPath,r.birthday,r.nativePlace,r.`name`,g.sex,r.phonenumber,r.mailbox,r.currentResidence,r.education,r.graduateSchool,r.intention,r.speciality,r.experience,r.selfEvaluation,r.creationTime,r.student_id
		from graduate g INNER JOIN resume r on g.student_id=r.student_id AND
		g.student_id=#{id}
	</select>
	<!-- //公司收到的投递的简历查询 -->
	<!-- <select id="selectResumeByErId" parameterType="String" resultMap="ResumeHiredDtoList">
	SELECT r.* ,s.post_id,s.time ,s.collection from resume r, (SELECT * from (SELECT * FROM `student_history`  where  post_id in(SELECT post_id from post where registration_id= #{registrationId} ))AS hs where hs.collection = 4 or hs.collection = 1 ) AS s where r.student_id=s.student_id and r.student_id in(SELECT student_id from (SELECT * FROM `student_history`  where  post_id in(SELECT post_id from post where registration_id= #{registrationId} ))AS hs where hs.collection = 4 or hs.collection = 1 )
	</select> -->
	<select id="selectResumeByErId" parameterType="String" resultMap="ResumeHiredDtoList">
		SELECT r.* ,s.time ,s.post_id,s.collection from resume r, (SELECT * FROM `student_history`  where  post_id in(SELECT post_id from post where registration_id= #{registrationId} ))  AS s where r.student_id=s.student_id and r.student_id in(SELECT student_id from (SELECT * FROM `student_history`  where  post_id in(SELECT post_id from post where registration_id= #{registrationId} ))AS hs )
	</select>
	<select id="notexitresumeId"  resultType="String">
		select registration_id from enterprise_history where registration_id=#{registrationId} AND	resume_id=#{resumeIds}
	</select>
	<!-- //简历通过的话插入enterpriseHistory -->
	<insert id="insertENHistory" parameterType="String">
		insert into enterprise_history(
		<if test="registrationId != null">registration_id,</if>
		<if test="resumeIds != null and resumeIds!= ''">resume_id,</if>
		<if test="updateCode!= 0">collection,</if>
		time
		)values(
		<if test="registrationId != null">#{registrationId},</if>
		<if test="resumeIds != null and resumeIds != ''">#{resumeIds},</if>
		<if test="updateCode!= 0">#{updateCode},</if>
		now()
		)
	</insert>
	
	
	<!-- //公司收到的投递的简历查询 -->
	<insert id="insertResume"
		parameterType="com.BYS.GWSystem.dto.ResumeDto">
		insert into Resume(
		<if test="resumeId != null and resumeId != ''">resume_id,</if>
		<if test="birthday != null">birthday,</if>
		<if test="nativePlace != null and nativePlace != ''">nativePlace,</if>
		<if test="name != null and name != ''">name,</if>
		<if test="phonenumber != null and phonenumber != ''">phonenumber,</if>
		<if test="mailbox != null and mailbox != ''">mailbox,</if>
		<if test="currentResidence != null and currentResidence != ''">currentResidence,</if>
		<if test="education != null and education != ''">education,</if>
		<if test="graduateSchool != null and graduateSchool != ''">graduateSchool,</if>
		<if test="intention != null and intention != ''">intention,</if>
		<if test="speciality != null and speciality != ''">speciality,</if>
		<if test="experience != null and experience != ''">experience,</if>
		<if test="selfEvaluation != null and selfEvaluation != ''">selfEvaluation,</if>
		creationTime,
		<if test="studentId != null and studentId != ''">student_id</if>

		)values(
		<if test="resumeId != null and resumeId != ''">#{resumeId},</if>
		<if test="birthday != null">#{birthday},</if>
		<if test="nativePlace != null and nativePlace != ''">#{nativePlace},</if>
		<if test="name != null and name != ''">#{name},</if>
		<if test="phonenumber != null and phonenumber != ''">#{phonenumber},</if>
		<if test="mailbox != null and mailbox != ''">#{mailbox},</if>
		<if test="currentResidence != null and currentResidence != ''">#{currentResidence},</if>
		<if test="education != null and education != ''">#{education},</if>
		<if test="graduateSchool != null and graduateSchool !=''">#{graduateSchool},</if>
		<if test="intention != null and intention != ''">#{intention},</if>
		<if test="speciality != null and speciality != ''">#{speciality},</if>
		<if test="experience != null and experience != ''">#{experience},</if>
		<if test="selfEvaluation != null and selfEvaluation != ''">#{selfEvaluation},</if>
		sysdate(),
		<if test="studentId != null and studentId != ''">#{studentId}</if>
		)
	</insert>

	<update id="updateResume"
		parameterType="com.BYS.GWSystem.dto.ResumeDto">
		update Resume
		<set>
			<if test="birthday != null">birthday=#{birthday},</if>
			<if test="nativePlace != null and nativePlace != ''">nativePlace=#{nativePlace},</if>
			<if test="name != null and name != ''">name=#{name},</if>
			<if test="phonenumber != null and phonenumber != ''">phonenumber=#{phonenumber},</if>
			<if test="mailbox != null and mailbox != ''">mailbox=#{mailbox},</if>
			<if test="currentResidence != null and currentResidence != ''">currentResidence=#{currentResidence},</if>
			<if test="education != null and education != ''">education=#{education},</if>
			<if test="graduateSchool != null and graduateSchool != ''">graduateSchool=#{graduateSchool},</if>
			<if test="intention != null and intention != ''">intention=#{intention},</if>
			<if test="speciality != null and speciality != ''">speciality=#{speciality},</if>
			<if test="experience != null and experience != ''">experience=#{experience},</if>
			<if test="selfEvaluation != null and selfEvaluation != ''">selfEvaluation=#{selfEvaluation}</if>
		</set>
		where student_id = #{studentId}
	</update>
	<!-- //简历通过的话插入enterpriseHistory判断是否已经插入过了如果已经插入，就只做修改 -->
	<update id="updateENHistory" >
		update enterprise_history
		<set>
		<if test="updateCode!= 0">collection=#{updateCode}</if>
		</set>
		where registration_id=#{registrationId} and resume_id=#{resumeIds}
	</update>
	
	<!-- 更新公司收取简历的状态 -->
	<update id="updateHiredCollectionMsg">
		update student_history
		<set>
			collection=#{updateCode}
		</set>
		where student_id = #{studentId} AND  post_id = #{postId}
	</update>
	
	<select id="queryResumeById"
		parameterType="String" resultType="com.BYS.GWSystem.dto.ResumeDto">
		select * from Resume where student_id = #{StudentId}
	</select>

	<delete id="deleteResume"
		parameterType="com.BYS.GWSystem.model.Resume">
		delete from Resume where resume_id = #{resumeId}
	</delete>


</mapper>
