<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BYS.GWSystem.mapper.TypeWorkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="TypeWork" type="com.BYS.GWSystem.model.TypeWork">
        <id column="post_id" property="postId" />
        <result column="fatherTypeId" property="fatherTypeId" />
        <result column="postName" property="postName" />
        <result column="profession" property="profession" />
        <result column="major" property="major" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        post_id, fatherTypeId, postName, profession, major
    </sql>

</mapper>
