<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
<link rel="stylesheet" href="/css/new_file.css" />
<link rel="stylesheet" type="text/css" href="/css/CM.css" />
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>修改个人信息</title>
</head>

<body>
	<!-- <div id="header">
		<div class="header">
			<div class="city">

				</ul>
				<a href="#" class="fc_city">武汉</a> <a href="#">[切换城市]</a>
			</div>
			<div class="weather">
				<div class="weather_head">
					<img class="w_ico"
						src="//sta.ganjistatic1.com/src/image/v6/homepage/weather/m/阵雨.png"
						alt=""> <span>天气&nbsp;</span> <span>&nbsp;温度
						37℃&nbsp;</span> <span>&nbsp;污染指数 一级&nbsp;</span>
				</div>
			</div>
			<div class="header_right">
				<nav class="navbar" role="navigation">
					<div class="container-fluid">
						<div>
							<ul class="nav navbar-nav">
								<li class="dropdown"><a href="#" class="dropdown-toggle in"
									data-toggle="dropdown"> 个人中心 <b class="caret"></b>
								</a>
									<ul class="dropdown-menu in">
										<li><a href="#">个人信息 数字徽章
										</a></li>
										<li><a href="#">我的简历</a></li>
										<li class="divider"></li>
										<li><a href="#">投递记录</a></li>
									</ul></li>
								<li class="active"><a href="#">帮助中心</a></li>
								<li><a href="#" data-toggle="collapse" data-target="#guide">关于我们</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<div class="userInfo">
					<div class="reg_login">
						<span class="clearfix"> 欢迎你：Leo </span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		style="width: 78%; height: 100px; margin: auto; text-align: center; padding-top: 30px;">
		<ul class="nav nav-pills">
			<li class="active"><a href="#">搜索岗位</a></li>
			<li><a href="#">搜索毕业生信息</a></li>
			<li><a href="#">个人简历</a></li>
		</ul>
	</div> -->
	<header th:insert="~{graduate/navigation::header}"></header>
	<!--图标和搜索发帖按钮end-->
	<div class="content">
		<h1>
			<img class="img-circle" th:src="@{/headportrait/}+${graduate.avatarPath}"
				style="border: 3px solid red; width: 50px; height: 50px;"> <span
				class="label label-default">修改个人信息</span>
		</h1>
		<form class="clearfix" name="search" method="post" action="#" th:action="@{/graduate/saveInfo/}+${graduate.studentId}" th:object="${graduate}">
			<table class="table table-striped">
				<!-- <table class="formtable" style="width: 60%"> -->
				<!-- <tr>
					<th>学号：</th>
					<th><input type="text" name="student_id" maxlength="20"
						placeholder="请输入学号" id="student_id" readonly="readonly"
						th:value="${graduate.studentId}" /> <span id="student_id_span"
						style="color: red"></span></th>
				</tr> -->
				<tr>
					<th>姓名：</th>
					<th><input type="text" name="studentName" maxlength="20"
						id="studentName" placeholder="请输入真实姓名" onblur="checkName()"
						th:value="${graduate.studentName}" /> <span id="studentName_span"
						style="color: red"></span></th>
				</tr>
				<tr>
					<th>性别：</th>
					<th th:if="${graduate.sex} eq 1"><input type="radio"
						name="sex" id="sex1" value="1" checked />男 <input type="radio"
						name="sex" id="sex2" value="0" />女</th>
					<th th:if="${graduate.sex} eq 0"><input type="radio"
						name="sex" id="sex1" value="1" />男 <input type="radio" name="sex"
						id="sex2" value="0" checked />女</th>
				</tr>
				<tr>
					<th>联系电话：</th>
					<th><input type="text" name="phonenumber" id="phonenumber"
						maxlength="20" placeholder="请输入本人电话" onblur="checkphone()"
						th:value="${graduate.phonenumber}" /> <span id="phonenumber_span"
						style="color: red"></span></th>
				</tr>
				<tr>
					<th>家庭住址：</th>
					<th><input type="text" name="homeAddress" id="homeAddress"
						maxlength="20" placeholder="请输入常住地址"
						th:value="${graduate.homeAddress==null}?'请输入常住地址':${graduate.homeAddress}" /></th>
				</tr>
				<tr>
					<th>毕业去向：</th>
					<th><input type="text" name="whereabouts" id="whereabouts"
						maxlength="20" placeholder="请输入毕业去向"
						th:value="${graduate.whereabouts==null}?'请输入毕业去向':${graduate.whereabouts}" /></th>
				</tr>
				<tr>
					<th>就业情况：</th>
					<th th:if="${graduate.cause} eq 1"><input type="radio"
						name="cause" id="cause1" value="1" checked />已就业 <input
						type="radio" name="cause" id="cause2" value="0" />未就业</th>
					<th th:if="${graduate.cause} eq 0"><input type="radio"
						name="cause" id="cause1" value="1" />已就业 <input type="radio"
						name="cause" id="cause2" value="0" checked />未就业</th>
				</tr>
				<tr>
					<th>工作岗位：</th>
					<th><input type="text" name="post" id="post" maxlength="20"
						placeholder="请输入工作岗位"
						th:value="${graduate.post==null}? '请输入工作岗位' : ${graduate.post}" />
					</th>
				</tr>
				<tr>
					<th>就业单位：</th>
					<th><input type="text" name="company" id="company"
						maxlength="20" placeholder="请输入就业单位"
						th:value="${graduate.company==null}?'请输入就业单位':${graduate.company}" /></th>
				</tr>
				<tr>
					<th>密码：</th>
					<th><input type="password" name="password" id="password"
						maxlength="20" placeholder="请输入6位以上的密码" onblur="checkPwd()"
						th:value="${graduate.password}" /> <span id="password_span"
						style="color: red"></span></th>
				</tr>
				<tr>
					<th>确认密码：</th>
					<th><input type="password" name="confirm" id="confirm"
						maxlength="20" placeholder="请再次输入密码" onblur="checkconfirm()"
						th:value="${graduate.password}" /> <span id="confirm_span"
						style="color: red"></span></th>
				</tr>

				<tr>
					<th><input type="submit" id="sbmt" value="保存"
						onclick=" return OncheckFormStudent()" class="btn-post" /></th>
					<th><input type="reset" value="重置" class="btn-post" /></th>
				</tr>
			</table>
		</form>
	</div>

</body>
<script src="/js/graduate.js">
	
</script>
</html>