<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<head>
		<link rel="stylesheet" href="css/new_file.css" />
		<link rel="stylesheet" type="text/css" href="css/CM.css" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta charset="UTF-8">
		<title>公司介绍修改</title>
	</head>

	<body>
		<header th:insert="~{Company/navigation::Cheader}"></header>
		<!--search引用-->
		<div class="search">
			<div class="clearfix searchWrap">
				<img class="GWLogo" src="img/文字logo.JPG">
				<div class="search-div">
					<form class="clearfix" name="search" method="post" action onsubmit="return false">
						<i class="search-ico"></i>
						<input name="search_keyword" type="text" class="txt-search" id="search_keyword" value autocomplete="off" x-webkit-speech x-webkit-grammar="builtin:translate" placeholder="搜索岗位发布/专业简历/就业生" />
						<!--x-webkit-speech x-webkit-grammar语音输入支持-->
						<input data-role="btn" name="search" id="search_button" type="submit" value="搜 索" class="btn-s" />
					</form>
				</div>
				<div class="edit-eara fr">
					<a href="#" class="btn-post">发布招聘信息</a>
					<a href="#" class="btn-change">修改/删除&nbsp;招聘信息</a>
				</div>
			</div>
		</div>
		<!--图标和搜索发帖按钮end-->
		<div class="content">
			<form  method="post" action="#" th:action="@{/CRCI}" th:object="${enterprises}">
				<h1><span class="label label-default">公司介绍修改</span></h1>
				<table class="table table-striped">
					<caption th:text="${enterprises.enterpriseName==null} ? '未知' : ${enterprises.enterpriseName}">公司名字</caption>
					<thead>
						<tr>
							<th>工商注册号</th>
							<th>所在地</th>
							<th>联系方式</th>
							<th>注册资本</th>
							<th>公司员工</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" disabled="disabled" th:value="${enterprises.registrationId==null} ? '未知' : ${enterprises.registrationId}"><input type="hidden" th:value="${enterprises.registrationId==null} ? '未知' : ${enterprises.registrationId}" th:field=*{registrationId}></td>
							<!-- 不要问我为什么用隐藏域兄弟，th:filed标签只能读取这个要不然读取不到值!!!! -->
							<td><input th:value="${enterprises.address==null} ? '未知' : ${enterprises.address}" placeholder="输入新的地址"type="text" th:field=*{address}/></td>
							<td><input th:value="${enterprises.telephone==null} ? '未知' : ${enterprises.telephone}" placeholder="输入新的联系电话" type="text" th:field=*{telephone}/></td>
							<td><input th:value="${enterprises.registeredCapital==null} ? '未知' : ${enterprises.registeredCapital}" placeholder="修改注册资本" type="text" th:field=*{registeredCapital}/></td>
							<td><input th:value="${enterprises.number==null} ? '未知' : ${enterprises.number}" placeholder="修改企业目前员工人数" type="text" th:field=*{number} /></td>
						</tr>
					</tbody>
				</table>
				<h3><span class="label label-default">公司简介</span></h3>
				<textarea class="introduce center-block text-danger" rows="15" cols="180" th:text="${enterprises.synopsis==null} ? '未知' : ${enterprises.synopsis}" th:field=*{synopsis}>
				点击此处直接修改简介
				点击此处直接修改简介	
				点击此处直接修改简介	
				点击此处直接修改简介	
				点击此处直接修改简介	
				点击此处直接修改简介	
				点击此处直接修改简介	
				点击此处直接修改简介	
				点击此处直接修改简介	
				点击此处直接修改简介	
				点击此处直接修改简介	
				点击此处直接修改简介	
			</textarea>
				<input name="Infochange" id="Infochange" type="submit" value="修改完成并提交" class="btn-s Infochanges" />
			</form>
		</div>
	</body>

</html>