<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<head>
		<link rel="stylesheet" href="/css/new_file.css" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/CM.css"/>
		<link rel="stylesheet" href="/css/style.css" />
		<!-- <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta charset="UTF-8">
		<title>公司岗位管理</title>
	</head>

	<body>
		<header th:if="${enterprises}!=null" th:insert="~{Company/navigation::Cheader}"></header>
		<header th:if="${graduate}!=null" th:insert="~{graduate/navigation::Sheader}"></header>
		<header th:if="${enterprises}==null and ${graduate}==null" th:insert="~{Public/navigation::header}"></header>
		<!--	头部结束-->
		<!--search引用-->
		<!--图标和搜索发帖按钮end-->
			<div class="arrageNv fl" id="arrageNvs" role="navingation">
			<h1><span class="label label-default">岗位分类</span></h1>
			<div th:each="pros :${pros}">
				<div class="dropdown">
					<input type="button" class="btn-post dropdown-toggle" id="dropdownMenu1" th:value="${pros.pros}" data-toggle="dropdown"/>
					<ul class="dropdown-menu pull-right dropdown" role="menu" aria-labelledby="dropdownMenu1" >
						<li role="presentation" th:each="postnames :${pros.postName}">
							<a th:if="${enterprises}==null and ${graduate}==null" role="menuitem" tabindex="-1" th:text="${postnames}" th:href="@{'/CHIS/'+${postnames}+'/1'}">Java</a>
							<a th:if="${enterprises}!=null" role="menuitem" tabindex="-1" th:text="${postnames}" th:href="@{'/CHISEntLog/'+${postnames}+'/1'+'/'+${enterprises.registrationId}}">Java</a>
							<a th:if="${graduate}!=null" role="menuitem" tabindex="-1" th:text="${postnames}" th:href="@{'/graduate/entLog/'+${postnames}+'/1'+'/'+${graduate.studentId}}">Java</a>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		<!-- ---------左侧分类导航栏---------- -->
		<div class="content arrageNvs fl" data-spy="scroll" data-target="#arrageNvs" data-offset="0">
		<h1><span class="label label-default">公司岗位发布</span></h1>
		<br>
				<a th:if="${enterprises}==null and ${graduate}==null" th:href="@{'/CHIS/'+${postnamesArrage}+'/'+${page-1}}"><input type="button" value="上一页" class="btn-s" /></a>
				<a th:if="${enterprises}!=null" th:href="@{'/CHISEntLog/'+${postnames}+'/'+${page-1}+'/'+${enterprises.registrationId}}"><input type="button" value="上一页" class="btn-s" /></a>
				<a th:if="${graduate}!=null" th:href="@{'/graduate/entLog/'+${postnames}+'/'+${page-1}+'/'+${graduate.studentId}}"><input type="button" value="上一页" class="btn-s" /></a>
				<input type="button" disabled="disabled" th:value="${pages}" class="btn-s">
				<a th:if="${enterprises}==null and ${graduate}==null" th:href="@{'/CHIS/'+${postnamesArrage}+'/'+${page+1}}"><input type="button" value="下一页" class="btn-s" /></a>
				<a th:if="${enterprises}!=null" th:href="@{'/CHISEntLog/'+${postnames}+'/'+${page+1}+'/'+${enterprises.registrationId}}"><input type="button" value="下一页" class="btn-s" /></a>
				<a th:if="${graduate}!=null" th:href="@{'/graduate/entLog/'+${postnames}+'/'+${page+1}+'/'+${graduate.studentId}}"><input type="button" value="下一页" class="btn-s" /></a>
				
				<!-- ---------页面跳转------------ -->
				<form th:if="${enterprises}==null and ${graduate}==null" class="clearfix" name="pagestoTurn" method="post" action="#" th:action="@{'/CHIS/'+${postnames}}"  >
				<input type="text" placeholder="输入跳转页码" class="btn-s" name="pagesTurn" />
				<input type="submit" value="跳转" class="btn-s" />
				</form>
				<form th:if="${enterprises}!=null" class="clearfix" name="pagestoTurn" method="post" action="#" th:action="@{'/CHISEntLogPageTurnArrage/'+${postnames}+'/'+${enterprises.registrationId}}" >
				<input type="text" placeholder="输入跳转页码" class="btn-s" name="pagesTurn" />
				<input type="submit" value="跳转" class="btn-s" />
				</form>
				<form th:if="${graduate}!=null" class="clearfix" name="pagestoTurn" method="post" action="#" th:action="@{'/graduate/entLogPageTurnArrage/'+${postnames}+'/'+${graduate.studentId}}" >
				<input type="text" placeholder="输入跳转页码" class="btn-s" name="pagesTurn" />
				<input type="submit" value="跳转" class="btn-s" />
				</form>
				
			<!--多媒体对象可以设置头部、居中、底部对齐，对应的类分别是 "media-top"、 "media-middle" 、 "media-bottom":-->
			
			<br>
			<div th:each="psotSimpleList :${psotSimpleList.list}">
			<div class="media" >
				<div class="media-left media-top">
					<img src="https://static.runoob.com/images/mix/img_avatar.png" class="media-object" style="width:80px">
				</div>
				<div class="media-body">
					<h4 class="media-heading" th:text="${psotSimpleList.postName}">公司招聘岗位名称</h4>
					<p th:text="${psotSimpleList.creationTime}">这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。</p>
					<p th:text="${psotSimpleList.demand}">这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。</p>
					<p th:text="${psotSimpleList.responsible}">这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。</p>
				</div>
				<a th:if="${enterprises}==null and ${graduate}==null" name="quality" id="quality" th:href="@{'/CHIQ/'+${psotSimpleList.postId}}">查看详情</a>
				<a th:if="${enterprises}!=null" name="quality" id="quality" th:href="@{'/CHISEntLogQuality/'+${psotSimpleList.postId}+'/'+${enterprises.registrationId}}">查看详情</a>
				<a th:if="${graduate}!=null" name="quality" id="quality" th:href="@{'/graduate/entLogQuality/'+${psotSimpleList.postId}+'/'+${graduate.studentId}}">查看详情</a>
			</div>
			<hr>
			</div>
			<hr>
			<br>
		
		</div>

	</body>

</html>