<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<head>
		<link rel="stylesheet" href="css/new_file.css" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/CM.css"/>
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta charset="UTF-8">
		<title>简历浏览历史</title>
	</head>
	<body>
			<header th:insert="~{Company/navigation::Cheader}"></header>
		<!--search引用-->
		<search th:insert="~{Company/navigation::CSearch}"></search>
		<!--图标和搜索发帖按钮end-->
		<div class="content">
			<h1><span class="label label-default">简历浏览历史</span></h1>
			<table class="table table-striped CollectTab">
				<thead>
					<tr>
						<th>简历ID（点击查看详情）</th>
						<th>出生日期</th>
						<th>姓名</th>
						<th>联系方式</th>
						<th>邮箱</th>
						<th>现居地</th>
						<th>学历</th>
						<th>毕业学校</th>
						<th>求职意向</th>
						<th>简历创建时间</th>
					</tr>
				</thead>
				<tbody>
					<tr class="danger">
						<td><h5><a class="label label-default " herf="#">12345678901234567</a></h5></td>
						<td >2019-10-27dddddd</td>
						<td>姓asdasdsa名</td>
						<td>12345678901234</td>
						<td>asdaasdfsdzfgsdgdgfdgsdf</td>
						<td>现sdfsfsdfde居地</td>
						<td>学sdfgdsfgsdf历</td>
						<td>毕业sdfgdfsgdfs学校</td>
						<td>求职sdfgasdasdas意向</td>
						<td>简sdfgsdfgdsfgsdg历创建时间</td>
						<td><h3><a class="label label-danger cancel" herf="#">已收藏点击取消</a></h3></td>
					</tr>
					<tr class="warning">
						<td><h5><a class="label label-default " herf="#">简历ID点击查看详情</a></h5></td>
						<td>出生日期</td>
						<td>姓名</td>
						<td>联系方式</td>
						<td>邮箱</td>
						<td>现居地</td>
						<td>学历</td>
						<td>毕业学校</td>
						<td>求职意向</td>
						<td>简历创建时间</td>
						<td><h3><a class="label label-danger cancel" herf="#">收藏</a></h3></td>
					</tr>
					<tr class="warning">
						<td><h5><a class="label label-default " herf="#">简历ID</a></h5></td>
						<td>出生日期</td>
						<td>姓名</td>
						<td>联系方式</td>
						<td>邮箱</td>
						<td>现居地</td>
						<td>学历</td>
						<td>毕业学校</td>
						<td>求职意向</td>
						<td>简历创建时间</td>
						<td><h3><a class="label label-danger cancel" herf="#">收藏</a></h3></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</body>
</html>
