<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<head>
		<link rel="stylesheet" href="/css/new_file.css" />
		<link rel="stylesheet" type="text/css" href="/css/CM.css" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta charset="UTF-8">
		<title>公司介绍管理</title>
	</head>

	<body>
		<header th:if="${enterprises}!=null" th:insert="~{Company/navigation::Cheader}"></header>
		<header th:if="${graduate}!=null" th:insert="~{graduate/navigation::Sheader}"></header>
		<header th:if="${enterprises}==null and ${graduate}==null" th:insert="~{Public/navigation::header}"></header>
		<!--search引用-->
		<!--图标和搜索发帖按钮end-->
		<div class="content">
			<h1><span class="label label-default">公司介绍</span></h1>
			<table class="table table-striped">
				<caption th:text="${enterprises.enterpriseName==null} ? '未知公司名' : ${enterprises.enterpriseName}">公司名字</caption>
				<thead>
					<tr>
						<th>工商注册号</th>
						<th>所在地</th>
						<th>联系方式</th>
						<th>注册资本</th>
						<th>公司员工</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${enterprises.registrationId==null} ? '未知' : ${enterprises.registrationId}">工商注册号</td>
						<td th:text="${enterprises.address==null} ? '未知' : ${enterprises.address}">所在地</td>
						<td th:text="${enterprises.telephone==null} ? '未知' : ${enterprises.telephone}">联系方式</td>
						<td th:text="${enterprises.registeredCapital==null} ? '未知' : ${enterprises.registeredCapital}">注册资本</td>
						<td th:text="${enterprises.number==null} ? '未知' : ${enterprises.number}">公司员工</td>
					</tr>
				</tbody>
			</table>
			<h3><span class="label label-default">公司简介</span></h3>
			<textarea class="introduce center-block text-danger" readonly="readonly" rows="15" cols="180" th:text="${enterprises.synopsis==null} ? '未知' : ${enterprises.synopsis}">
				华为技术有限公司成立于1987年，总部位于广东省深圳市龙岗区。
				[1]  华为是全球领先的信息与通信技术（ICT）解决方案供应商，
				专注于ICT领域，坚持稳健经营、持续创新、开放合作，在电信运营商、企业、终端和云计算等领域构筑了端到端的解决方案优势，为运营商客户、
				企业客户和消费者提供有竞争力的ICT解决方案、产品和服务，并致力于实现未来信息社会、构建更美好的全联接世界。
				2013年，华为首超全球第一大电信设备商爱立信，排名《财富》世界500强第315位。
				截至2016年底，华为有17多万名员工，华为的产品和解决方案已经应用于全球170多个国家，服务全球运营商50强中的45家及全球1/3的人口。
				2016年8月，全国工商联发布“2016中国民营企业500强”榜单，华为以3950.09亿元的年营业收入成为500强榜首。8月，华为在"2016中国企业500强"中排名第27位。 
				[2]  2017年6月6日，《2017年BrandZ最具价值全球品牌100强》公布，华为名列第49位。
				2019年7月22日美国《财富》杂志发布了最新一期的世界500强名单 ，华为排名第61位。
				[3-4]  2018年《中国500最具价值品牌》华为居第六位。
				[5] 12月18日，世界品牌实验室编制的《2018世界品牌500强》揭晓，华为排名第58位。 
				[6] 2018年2月，沃达丰和华为完成首次5G通话测试
				[7] 2019年8月9日，华为正式发布鸿蒙系统。
				[8]  2019年8月22日，2019中国民营企业500强发布，华为投资控股有限公司以7212亿营收排名第一。
				[9]  2019年12月15日，华为获得了首批2019中国品牌强国盛典年度荣耀品牌的殊荣。
			</textarea>
			<input name="backup" id="backup" type="button" value="返回" class="btn-s Infochanges" />
		</div>
	</body>

</html>