<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="${title==null} ? 'notitle' : ${title}">notitle</title>

<!-- Required meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body>
	<header th:fragment="Cheader">
			<div class="header">
					<iframe width="460" scrolling="no" height="20" frameborder="0" allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=1&icon=1&wind=1&num=2&site=12"></iframe>
				<div class="header_right">
					<nav class="navbar" role="navigation">
						<div class="container-fluid">
							<div>
								<ul class="nav navbar-nav">
									<li class="dropdown"><a href="#"
										class="dropdown-toggle in" data-toggle="dropdown"> 个人中心 <b
											class="caret"></b>
									</a>
										<ul class="dropdown-menu in">
											<li><a th:href="@{'/CM/'+${enterprises.registrationId}+'/1'}">我的发布<span class="badge alert-danger">50</span>
													<!--数字徽章-->
											</a></li>
											<li><a href="#">已通过的简历<span class="badge alert-danger">10</span></a>
											</li>
											<li class="divider"></li>
											<li><a th:href="@{'/CH/'+${enterprises.registrationId}+'/1'}">简历收取</a></li>
											<li class="divider"></li>
											<li><a th:href="@{'/CRCI?registrationId='+${enterprises.registrationId}}">企业信息</a></li>
										</ul></li>
									<li class="active"><a href="#">帮助中心</a></li>
									<li><a href="#" data-toggle="collapse"
										data-target="#guide">网页导航</a>
										<nav id="guide"
											class="collapse  col-lg-12 col-4 collapse  bg-light navtable">
											<dl>
												<dt>
													<a>XX招聘XX</a>
												</dt>
												<dd>全职</dd>
												<dd>兼职</dd>
												<dd>高薪</dd>
											</dl>
											<dl>
												<dt>
													<a>XX求职XX</a>
												</dt>
												<dd><a th:href="@{'/CHISEntLog/'+${enterprises.registrationId}+'/1'}">岗位查询</a></dd>
												<dd>技能培训</dd>
												<dd>职场技巧</dd>
												<dd>职业培训</dd>
												<dd>简历库</dd>
											</dl>
										</nav></li>

								</ul>
							</div>
						</div>
					</nav>
					<div class="userInfo">
						<div class="reg_login">
							<span class="clearfix"> <a >欢迎您</a> <i>/</i> <a th:href="@{'/CRCI?registrationId='+${enterprises.registrationId}}" th:text="${enterprises.enterpriseName==null} ? '未知公司名' : ${enterprises.enterpriseName}">未知公司名</a>
							</span>
						</div>
					</div>
				</div>
			</div>
	</header>
	<!--	头部结束-->
	<!-- 搜索引擎部分 -->
	<search th:fragment="CSearch">	
		<div class="search">
			<div class="clearfix searchWrap">
				<img class="GWLogo" src="img/文字logo.JPG">
				<div class="search-div">
					<form class="clearfix" name="search" method="post" action onsubmit="return false">
						<i class="search-ico"></i>
						<input name="search_keyword" type="text" class="txt-search" id="search_keyword" value autocomplete="off" x-webkit-speech x-webkit-grammar="builtin:translate" placeholder="搜索岗位发布/专业简历/就业生" />
						<!--x-webkit-speech x-webkit-grammar语音输入支持-->
						<input data-role="btn" name="search" id="search_button" type="submit" value="搜 索" class="btn-s" />
					</form>
				</div>
				<div class="edit-eara fr">
					<a th:href="@{'/CNH/'+${enterprises.registrationId}}" class="btn-post">发布招聘信息</a>
					<a th:href="@{'/CM/'+${enterprises.registrationId}}+'/1'" class="btn-change">修改/删除&nbsp;招聘信息</a>
				</div>
			</div>
		</div>
	</search>
	<!-- 搜索引擎部分 -->
	<footer th:fragment="footer">
		<div>
			<p>禁止复制、使用本网站上的文章、影像、照片等著作</p>
			<p>このウェブサイト上の文章、映像、写真などの著作物の全部、または一部を了承なく複製、使用することを禁じます</p>
			<p>Copyright ©︎GWSystem. AII Right Reserved</p>
		</div>
	</footer>
</body>
</html>