<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/new_file.css" />
<link rel="stylesheet" type="text/css" href="/css/CM.css" />
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/popup.js"></script>
<meta charset="UTF-8">
<title>查看企业</title>
</head>
<body>
	<div class="col-md-12">
		<header th:insert="~{admin/navigation::header}"></header>
	</div>
	<!--head引用-->
	<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
	<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
	<a href="/admin/home"><span type="button"
						class="glyphicon glyphicon-chevron-left"></span></a>
		<table class="table table-striped">
			<caption>企业申请名单</caption>
			<thead>
				<tr>
					<th>企业名</th>
					<th>企业工商注册号</th>
					<th>电话</th>
					<th>企业人数</th>
					<th>企业注册资本</th>
					<th>地址</th>
					<th>查看</th>
					<th>操作</th>				
				</tr>
			</thead>
			<tbody>
				<tr th:each="enterprise :${traversingList.list}">
					<th th:text="${enterprise.enterpriseName}">企业名</th>
					<th th:text="${enterprise.registrationId}">企业工商注册号</th>
					<th th:text="${enterprise.telephone}">电话</th>
					<th th:text="${enterprise.number}">企业人数</th>
					<th th:text="${enterprise.registeredCapital}">企业注册资本</th>
					<th th:text="${enterprise.address}">地址</th>
					<th><a th:href="@{'/admin/companyDetails/'+${enterprise.registrationId}}">查看详情</a></th>
					<th><a th:href="@{'/admin/enterpriseOperation/'+${enterprise.registrationId}+'/2'}">通过</a>
					<a th:href="@{'/admin/enterpriseOperation/'+${enterprise.registrationId}+'/3'}">拒绝</a>
					</th>		
				</tr>
			</tbody>
		</table>
		
		<nav aria-label="Page navigation">
			<header th:insert="~{admin/paging::page}"></header>
		</nav>
		</div>
	<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>



</body>
</html>