<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<head>
		<link rel="stylesheet" href="css/new_file.css" />
		<link rel="stylesheet" type="text/css" href="css/CM.css" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta charset="UTF-8">
		<title>公司介绍管理</title>
	</head>

	<body>
		<div id="header">
			<div class="header">
				<div class="city">

					</ul>
					<a href="#" class="fc_city">武汉</a>
					<a href="#">[切换城市]</a>
				</div>
				<div class="weather">
					<div class="weather_head">
						<img class="w_ico" src="//sta.ganjistatic1.com/src/image/v6/homepage/weather/m/阵雨.png" alt="">
						<span>天气&nbsp;</span>
						<span>&nbsp;温度&nbsp;</span>
						<span>&nbsp;污染指数&nbsp;</span>
					</div>
				</div>
				<div class="header_right">
					<nav class="navbar" role="navigation">
						<div class="container-fluid">
							<div>
								<ul class="nav navbar-nav">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle in" data-toggle="dropdown">
											个人中心
											<b class="caret"></b>
										</a>
										<ul class="dropdown-menu in">
											<li>
												<a href="#">岗位发布<span class="badge alert-danger">50</span>
													<!--数字徽章-->
												</a>
											</li>
											<li>
												<a href="#">我的招聘<span class="badge alert-danger">20</span></a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">我的收藏</a>
											</li>
											<li>
												<a href="#">简历浏览记录</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">公司信息</a>
											</li>
										</ul>
									</li>
									<li class="active">
										<a href="#">帮助中心</a>
									</li>
									<li>
										<a href="#" data-toggle="collapse" data-target="#guide">网页导航</a>
										<nav id="guide" class="collapse  col-lg-12 col-4 collapse  bg-light navtable">
											<dl>
												<dt><a>XX招聘XX</a></dt>
												<dd>全职</dd>
												<dd>兼职</dd>
												<dd>高薪</dd>
											</dl>
											<dl>
												<dt><a>XX求职XX</a></dt>
												<dd>技能培训</dd>
												<dd>职场技巧</dd>
												<dd>职业培训</dd>
												<dd>简历库</dd>
											</dl>
										</nav>
									</li>

								</ul>
							</div>
						</div>
					</nav>
					<div class="userInfo">
						<div class="reg_login">
							<span class="clearfix">
								<a>登陆</a>
								<i>/</i>
								<a>注册</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--head引用-->
		<!--search引用-->
		<div class="search">
			<div class="clearfix searchWrap">
				<img class="GWLogo" src="img/文字logo.JPG">
				<div class="search-div">
					<form class="clearfix" name="search" method="post" action onsubmit="return false">
						<i class="search-ico"></i>
						<input name="search_keyword" type="text" class="txt-search" id="search_keyword" value autocomplete="off" x-webkit-speech x-webkit-grammar="builtin:translate" placeholder="搜索岗位发布/专业简历/就业生" />
						<!--x-webkit-speech x-webkit-grammar语音输入支持-->
						<input data-role="btn" name="search" id="search_button" type="submit" value="搜 索" class="btn-s" />
					</form>
				</div>
				<div class="edit-eara fr">
					<a href="#" class="btn-post">发布招聘信息</a>
					<a href="#" class="btn-change">修改/删除&nbsp;招聘信息</a>
				</div>
			</div>
		</div>
		<!--图标和搜索发帖按钮end-->
		<div class="content">
			<h1><span class="label label-default">公司介绍</span></h1>
			<table class="table table-striped">
				<caption>公司名字</caption>
				<thead>
					<tr>
						<th>工商注册号</th>
						<th>所在地</th>
						<th>联系方式</th>
						<th>注册资本</th>
						<th>公司员工</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>工商注册号</td>
						<td>所在地</td>
						<td>联系方式</td>
						<td>注册资本</td>
						<td>公司员工（人数）</td>
					</tr>
				</tbody>
			</table>
			<h3><span class="label label-default">公司简介</span></h3>
			<textarea class="introduce center-block text-danger" readonly="readonly" rows="15" cols="180">
				华为技术有限公司成立于1987年，总部位于广东省深圳市龙岗区。
				[1]  华为是全球领先的信息与通信技术（ICT）解决方案供应商，
				专注于ICT领域，坚持稳健经营、持续创新、开放合作，在电信运营商、企业、终端和云计算等领域构筑了端到端的解决方案优势，为运营商客户、
				企业客户和消费者提供有竞争力的ICT解决方案、产品和服务，并致力于实现未来信息社会、构建更美好的全联接世界。
				2013年，华为首超全球第一大电信设备商爱立信，排名《财富》世界500强第315位。
				截至2016年底，华为有17多万名员工，华为的产品和解决方案已经应用于全球170多个国家，服务全球运营商50强中的45家及全球1/3的人口。
				2016年8月，全国工商联发布“2016中国民营企业500强”榜单，华为以3950.09亿元的年营业收入成为500强榜首。8月，华为在"2016中国企业500强"中排名第27位。 
				[2]  2017年6月6日，《2017年BrandZ最具价值全球品牌100强》公布，华为名列第49位。
				2019年7月22日美国《财富》杂志发布了最新一期的世界500强名单 ，华为排名第61位。
				[3-4]  2018年《中国500最具价值品牌》华为居第六位。
				[5] 12月18日，世界品牌实验室编制的《2018世界品牌500强》揭晓，华为排名第58位。 
				[6] 2018年2月，沃达丰和华为完成首次5G通话测试
				[7] 2019年8月9日，华为正式发布鸿蒙系统。
				[8]  2019年8月22日，2019中国民营企业500强发布，华为投资控股有限公司以7212亿营收排名第一。
				[9]  2019年12月15日，华为获得了首批2019中国品牌强国盛典年度荣耀品牌的殊荣。
			</textarea>
		</div>
			<input name="Infochange" id="Infochange" type="submit" value="修改简介" class="btn-s Infochanges" />
	</body>

</html>