<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/new_file.css" />
<link rel="stylesheet" type="text/css" href="/css/CM.css" />
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>企业审批</title>
</head>
<body>
	<div class="col-md-12">
		<header th:insert="~{admin/navigation::header}"></header>
	</div>
	<!--head引用-->
	<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
	<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
		<table class="table table-striped">
			<caption>申请企业</caption>
			<thead>
				<tr>
					<th>企业名</th>
					<th>工商注册号</th>
					<th>电话</th>
					<th>地址</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>啊</td>
					<td>滴滴滴</td>
					<td>联系方式</td>
					<td>哎哎哎</td>
					<td><button type="button" class="btn btn-info btn-sm ">查看</button>
						<button type="button" class="btn btn-success btn-sm ">通过</button>
					</td>
				</tr>
				<tr>
					<td>啊</td>
					<td>滴滴滴</td>
					<td>联系方式</td>
					<td>哎哎哎</td>
					<td><button type="button" class="btn btn-info btn-sm ">查看</button>
						<button type="button" class="btn btn-success btn-sm ">通过</button>
					</td>
				</tr>
				<tr>
					<td>啊</td>
					<td>滴滴滴</td>
					<td>联系方式</td>
					<td>哎哎哎</td>
					<td><button type="button" class="btn btn-info btn-sm ">查看</button>
						<button type="button" class="btn btn-success btn-sm ">通过</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
</body>
</html>