<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="header">
		<div class="header">
			<div class="weather">
				<div class="weather_head">
				<iframe width="460" scrolling="no" height="20" frameborder="0" allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=1&icon=1&wind=1&num=2&site=12"></iframe>
				</div>
			</div>
			<div class="header_right">
				<nav class="navbar" role="navigation">
					<div class="container-fluid">
						<div>
							<ul class="nav navbar-nav">
								<li class="dropdown"><a href="#" class="dropdown-toggle in"
									data-toggle="dropdown"> 个人账号 <b class="caret"></b>
								</a>
									<ul class="dropdown-menu in">
										<li><a href="#">更改密码</a></li>
										<li><a href="/admin/Logout">退出登录</a></li>
									</ul></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle in"
									data-toggle="dropdown"> 查看详情 <b class="caret"></b>
								</a>
									<ul class="dropdown-menu in">
										<li><a href="/admin/companyApplicationList/1">新上线公司<span
												class="badge alert-danger" id="newlyAdded"></span> <!--数字徽章-->
										</a></li>
										<li><a href="/admin/seNewPostList/1">最新岗位<span
												class="badge alert-danger" id="newPostSize"></span></a>
										</li>
										<li class="divider"></li>
										<li><a href="/admin/seStudentsList/1">学生</a></li>
										<li><a href="/admin/seEnterpriseList/1">企业</a></li>
										<li><a href="/admin/companyRecruitmentPosition/1">岗位</a></li>
									</ul></li>
								<li class="active"><a href="/admin/home">主页</a></li>
								<li style="width: 150px"><a href="#" data-toggle="collapse"
									data-target="#guide">毕业生操作</a>
									<form action='admin/poiImport' enctype="multipart/form-data" method='post'>
										<nav id="guide"
											class="collapse  col-lg-12 col-4 collapse  bg-light navtable">
											<dl>
												<dt>
													<a>导入毕业生</a>
												</dt>
												<dt>
													                    <input id="file" name="file"
														type="file" accept=".xls,.xlsx" style="width: 150px;"
														onchange="editType();" />
													<button>提交</button>
												</dt>
											</dl>
											<dl>
												<dt>
													<a href="/admin/poiExport">导出毕业生</a>
												</dt>
											</dl>
										</nav>
										       
									</form></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>



		    
		<!--head引用-->
		<!--search引用-->
		<div class="search">
			<div class="clearfix searchWrap">
				<img class="GWLogo" src="img/文字logo.JPG">
				<div class="search-div">
					<form class="clearfix" name="search" method="post" action='/admin/homepageSearchPost/1'>
						<i class="search-ico"></i> 
						<input name="search_keyword"
							type="text" class="txt-search" id="search_keyword" 
							autocomplete="off" x-webkit-speech x-webkit-grammar="builtin:translate" placeholder="搜索在招岗位/职业"  />
						<input data-role="btn" name="search" id="search_button"
							type="submit" value="搜 索" class="btn-s" />
					</form>	
					<!-- onsubmit="return false" -->				
				</div>
			</div>
		</div>
	</div>
</body>
</html>