<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/new_file.css" />
<link rel="stylesheet" type="text/css" href="/css/CM.css" />
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/popup.js"></script>
<meta charset="UTF-8">
<title>招聘岗位</title>

</head>
<body>
	<div class="col-md-12">
		<header th:insert="~{admin/navigation::header}"></header>
	</div>

	<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
	<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
		<table class="table table-striped">
			<caption>招聘岗位</caption>
			<thead>
				<tr>
					<th class="wide" >ID</th>
					<th class="wide1">招聘公司</th>
					<th class="wide1">岗位类型</th>
					<th class="wide1">岗位名</th>
					<th class="wide1">工作地点</th>
					<th class="wide1">招聘人数</th>
					<th class="wide3">负责事项</th>
					<th class="wide1">薪资待遇</th>
					<th class="wide3">相关要求</th>
					<th class="wide1">发布时间</th>
					<th class="wide1">热门</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>001</td>
					<td>阿里巴巴</td>
					<td>软件开发</td>
					<td>java开发工程师</td>
					<td>上海</td>
					<td>5</td>
					<td>web后端开发与调试,数据库设计以优化</td>
					<td>8K-12K</td>
					<td>本科,计算机相关专业,有过java开发相关经验3年以上</td>
					<td>2020.3.25</td>
					<td>否</td>
				</tr>
				<tr>
					<td>002</td>
					<td>腾讯</td>
					<td>软件开发</td>
					<td>前端开发工程师</td>
					<td>深圳</td>
					<td>3</td>
					<td>web前端开发与调试,与UI设计一起研发前端开发技术巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</td>
					<td>7K-10K</td>
					<td>本科,计算机相关专业,有过前端以及相关工作经验2年以上巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉
					巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉
					巴拉巴拉巴拉巴拉巴拉</td>
					<td>2020.3.25</td>
					<td>否</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>

</body>
</html>