<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/new_file.css" />
<link rel="stylesheet" type="text/css" href="/css/CM.css" />
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/popup.js"></script>
<meta charset="UTF-8">
<title>查看企业</title>
</head>
<body>
	<div class="col-md-12">
		<header th:insert="~{admin/navigation::header}"></header>
	</div>
	<!--head引用-->
	<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
	<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
			<form class="navbar-form navbar-left" role="search" action='../seEnterpriseList/1' method='post'>
				<a href="/admin/home"><span type="button"
						class="glyphicon glyphicon-chevron-left"></span></a>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="按公司名或注册号查找"  id="selectEnterprise" name="selectEnterprise"
					 th:value="${returnDisplay}">
				</div>
				<button type="submit" class="btn btn-default">查看</button>
			</form>	
		<table class="table table-striped">
			<caption>企业名单</caption>
			<thead>
				<tr>
					<th>企业名</th>
					<th>企业工商注册号</th>
					<th>电话</th>
					<th>地址</th>
					<th>查看</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="enterprise :${traversingList.list}">
					<th th:text="${enterprise.enterpriseName}">企业名</th>
					<th th:text="${enterprise.registrationId}">企业工商注册号</th>
					<th th:text="${enterprise.telephone}">电话</th>
					<th th:text="${enterprise.address}">地址</th>
					<th><a th:href="@{'/admin/companyDetails/'+${enterprise.registrationId}}">查看详情</a></th>
				</tr>
			</tbody>
		</table>
		
		<nav aria-label="Page navigation">
			<header th:insert="~{admin/paging::page}"></header>
		</nav>
		</div>
	<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
		<h3>
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
			了解
		</h3>
		<hr>
		<div>
			<dl class="dl-horizontal">
				<dt>企业</dt>
				<dd>公司注册审批后及时提醒该公司审批已通过,防止企业方长时间等待</dd>
				<dt>岗位</dt>
				<dd>尽量确保能及时联系上企业负责人,在得到审批后及时提醒公司发布招聘信息,并及时和企业方沟通推荐优秀代表</dd>
			</dl>
		</div>
	</div>
	<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>



</body>
</html>