<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/new_file.css" />
<link rel="stylesheet" type="text/css" href="/css/CM.css" />
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/popup.js"></script>
<meta charset="UTF-8">
<title>查看学生</title>
</head>
<body>
	<div class="col-md-12">
		<header th:insert="~{admin/navigation::header}"></header>
	</div>
	<!--head引用-->
	<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
	<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
		<form class="navbar-form navbar-left" role="search" action='../seStudentsList/1' method='post'>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="按姓名或学号号查找" id="selectStudent" name="selectStudent"
				th:value="${returnDisplay}">
			</div>
			<button type="submit" class="btn btn-default">查看</button>
		</form>
		<table class="table table-striped">
			<caption>学生名单</caption>
			<thead>
				<tr>
					<th>学号</th>
					<th>姓名</th>
					<th>性别</th>
					<th>电话</th>
					<th>住址</th>
					<th>毕业打算</th>
					<th>就业情况</th>
					<th>工作岗位</th>
					<th>就业单位</th>
					<th>简历</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="graduate :${listGraduate.list}">
					<th th:text="${graduate.studentId}"></th>
					<th th:text="${graduate.studentName}">周元帅</th>
					<th><span th:if="${graduate.sex}eq'1'">男</span> <span
						th:if="${graduate.sex}eq'0'">女</span></th>
					<th th:text="${graduate.phonenumber}">13545698832</th>
					<th th:text="${graduate.homeAddress}">武汉</th>
					<th th:text="${graduate.whereabouts}">工作</th>
					<th><span th:if="${graduate.cause}eq'1'">已就业</span> <span
						th:if="${graduate.cause}eq'0'">未就业</span></th>
					<th th:text="${graduate.post}">暂无</th>
					<th th:text="${graduate.company}">暂无</th>
					<th><span th:if="${graduate.resumeId} != null"><a
							th:href="@{'/viewResume/'+${graduate.studentId}}">查看</a></span> <span
						th:if="${graduate.resumeId} == null">暂无</span></th>
				</tr>
			</tbody>
		</table>
		<nav aria-label="Page navigation">
			<ul class="pagination">
				<li th:if="${listGraduate.pageNum} gt '4'"><a
					th:href="@{'/'+${address}+'/1'}" aria-label="Previous"> <span
						aria-hidden="true">&lt;&lt;</span>
				</a></li>
				<li th:if="${listGraduate.hasPreviousPage}"><a
					th:href="@{'/'+${address}+'/'+${listGraduate.prePage} }"
					aria-label="Previous"> <span aria-hidden="true">&lt;</span>
				</a></li>

				<li th:each="page:${listPages}"
					th:class="${listGraduate.pageNum==page}?'active':'' "><a
					th:href="@{'/'+${address}+'/'+${page}}" th:text="${page}"> </a></li>
				<li th:if="${listGraduate.hasNextPage}"><a
					th:href="@{'/'+${address}+'/'+${listGraduate.nextPage}}"
					aria-label="Previous"> <span aria-hidden="true">&gt;</span>
				</a></li>
				<li th:if="${listGraduate.pageNum} lt ${listGraduate.pages-3}">
					<a th:href="@{'/'+${address}+'/'+${listGraduate.pages}}"
					aria-label="Previous"> <span aria-hidden="true">&gt;&gt;</span>
				</a>
				</li>
				<li><a aria-label="Previous"> 共<span aria-hidden="true"
						th:text="${listGraduate.pages}"></span>页
				</a></li>
				<!-- <li ><span aria-label="Previous" style="height:33px" >
				<input name="Page" type="text" size="4" th:placeholder="${listGraduate.pageNum}" > 
				<input type="submit" name="Submit" value="&gt;&gt;">	
				</span>
				</li> -->
			</ul>
		</nav>

	</div>
	<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
		<h3>
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
			了解
		</h3>
		<hr>
		<div>
			<dl class="dl-horizontal">
				<dt>简历</dt>
				<dd>如学生未编辑简历请尽快联系本人上线编辑简历,否者企业无法找到该毕业生</dd>
				<dt>招聘</dt>
				<dd>请尽量保证简历上电话和简历的可用性,并保证能通过邮件和电话联系到本人,提醒学生更新简历,保持电话畅通,时常查看邮件</dd>
			</dl>
		</div>
	</div>
	<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
</body>
</html>