<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="${title==null} ? 'notitle' : ${title}">notitle</title>

<!-- Required meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body>
	<header th:fragment="header">
		<div id="header">
			<div class="header">
				<iframe width="460" scrolling="no" height="20" frameborder="0" allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=1&icon=1&wind=1&num=2&site=12"></iframe>
				<div class="header_right">
					<nav class="navbar" role="navigation">
						<div class="container-fluid">
							<div>
								<ul class="nav navbar-nav">
									<li class="active"><a href="/GWsystem">首页</a></li>
										<!-- 后期预留功能 -->
									<li class="active"><a href="#"></a></li>
									<li class="active"><a href="#"></a></li>
									<li class="active"><a href="#"></a></li>
									<li class="active"><a href="#"></a></li>
									<!-- 后期预留功能 -->
									<li><a href="#" data-toggle="collapse"
										data-target="#guide">网页导航</a>
										<nav id="guide"
											class="collapse  col-lg-12 col-4 collapse  bg-light navtable">
											<dl>
												<dt>
													<a>XX招聘XX</a>
												</dt>
												<dd>全职</dd>
												<dd>兼职</dd>
												<dd>高薪</dd>
											</dl>
											<dl>
												<dt>
													<a>XX求职XX</a>
												</dt>
												<dd><a th:href="@{'/CHIS/1'}">岗位查询</a></dd>
												<dd>技能培训</dd>
												<dd>职场技巧</dd>
												<dd>职业培训</dd>
												<dd>简历库</dd>
											</dl>
										</nav></li>

								</ul>
							</div>
						</div>
					</nav>
					<div class="userInfo">
						<div class="reg_login">
							<span> <a href="/switchLog">登录</a> <i>/</i> <a href="/switchRegister">注册</a>
							</span>
						</div>
					</div>
				</div>
			</div>
	</header>
	<!--	头部结束-->
	<footer th:fragment="footer">
		<div>
			<p>禁止复制、使用本网站上的文章、影像、照片等著作</p>
			<p>このウェブサイト上の文章、映像、写真などの著作物の全部、または一部を了承なく複製、使用することを禁じます</p>
			<p>Copyright ©︎GWSystem. AII Right Reserved</p>
		</div>
	</footer>
</body>
</html>